
div{
    margin: auto;
    width: 50%;
    
    padding: 10px;
}


.slider{
    width: 100%;
}


h1{
    text-align: center;
    height: 0;
    padding-bottom: 10%;
}

h2{
    text-align: center;
    padding: 0px;
}

form{
    text-align: center;
}
